<div class="container about">

	<h1>Who we are</h1>
	<p>Tarzan Bros are the brain brothers of Greg and Theo Tantanozis, a complex of composing, producing and performing all in one exclusive Reggae Hip - Hop mixture!</p>
	<h1>What's this app</h1>
	<p>Here you can buy online our music, order your own ideas, edited and produced by our little family or play the TB coin and be the one who travels with us on our next tour</p>

</div>