<!--<img src="https://scontent.fzrh1-1.fna.fbcdn.net/v/t31.0-8/17097979_1211923682238170_3133672924476135671_o.jpg?oh=fe090f237d01e7bd3398c59d83634450&oe=5AA26489" alt="Tarzan Bros">
<h1>Get in touch</h1>
<p>Daily 9:00 - 18:00 <br> +41 (0) 76 689 26 16 <br> tarzanbros@gmail.com <br> Austrasse 40 <br> 8953 Dietikon <br> Switzerland</p>-->


<html>
<body background="https://www.desktopbackground.org/download/o/2013/04/05/556346_one-piece-hd-wallpapers_1920x1080_h.jpg">
<h1>Get in touch</h1>
<p>Daily 9:00 - 18:00 <br> +41 (0) 76 689 26 16 <br> tarzanbros@gmail.com <br> Austrasse 40 <br> 8953 Dietikon <br> Switzerland</p>
</body>
</html>