<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    
   	<%= link_to "Previous", redirect_to_back_or_default: "fallback_location: request.root_path" %>
  </div><!-- / panel-body -->
</div><!-- / panel -->