@import url('https://fonts.googleapis.com/css?family=Roboto');

$headers-color: #D5574B;
$headers-font:'Roboto', sans-serif;

.navbar-nav {
	background-color: orange;
	display: -webkit-box;
}

.navbar-nav li {
	margin: 0 0.2em 0 0.2em;
	padding-left: 1em;
}

.navbar-nav a {
	text-decoration: none;
	color: #444;;
	text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
 
nav a:hover {
 	background-color: orange;
 	color: $headers-color;
 	ransition: .3s background-color;
}
 
nav a:active {
	color: $headers-color;
	cursor: default;
}

body {
	background-color: firebrick;
	position: relative;
}

.covers {
	display: flex;
	flex-wrap: wrap;
  	justify-content: space-between;
  	margin: 2em 0 2em 0;
}

h1 {
	font-family: $headers-font;
	color: $headers-color;
	text-align: center;
	padding-top: 1em;
}

h2 {
	font-family: $headers-font;
	text-align: center;
	color: antiquewhite;
}

h3 {
	font-family: $headers-font;
	color: antiquewhite;
	padding-top: 1em;
}

.about p {
	text-align: center;
}

.products h3:hover, .products a:hover, .products p:hover, .products strong:hover {
	text-decoration: none;
	color: $headers-color;
}

p {
	color: antiquewhite;
}

.products strong {
	color: antiquewhite;
}

.contact p {
	text-align: center;
}

a {
	color: orange;
}

.description, .genre, .show, .edit, .destroy {
	display: inline;
}

.show, .edit {
	padding-right: 1em;
}

.date-home p {
	text-align: right;
	margin-bottom: -1.5rem;
}

html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -142px; 
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 25px;
}

.site-footer {
	background: orange;
}